In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\hp\Downloads\Hotel Reservations.csv')

In [4]:
df

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [5]:
df.isnull().sum()

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [43]:
df1 = df.copy()

In [44]:
df1

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,inn00001,2,0,1,2,meal plan 1,0,roomtype 1,224,2017,10,2,offline,0,0,0,65.00,0,notcanceled
1,inn00002,2,0,2,3,not selected,0,roomtype 1,5,2018,11,6,online,0,0,0,106.68,1,notcanceled
2,inn00003,1,0,2,1,meal plan 1,0,roomtype 1,1,2018,2,28,online,0,0,0,60.00,0,canceled
3,inn00004,2,0,0,2,meal plan 1,0,roomtype 1,211,2018,5,20,online,0,0,0,100.00,0,canceled
4,inn00005,2,0,1,1,not selected,0,roomtype 1,48,2018,4,11,online,0,0,0,94.50,0,canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,inn36271,3,0,2,6,meal plan 1,0,roomtype 4,85,2018,8,3,online,0,0,0,167.80,1,notcanceled
36271,inn36272,2,0,1,3,meal plan 1,0,roomtype 1,228,2018,10,17,online,0,0,0,90.95,2,canceled
36272,inn36273,2,0,2,6,meal plan 1,0,roomtype 1,148,2018,7,1,online,0,0,0,98.39,2,notcanceled
36273,inn36274,2,0,0,3,not selected,0,roomtype 1,63,2018,4,21,online,0,0,0,94.50,0,canceled
36274,inn36275,2,0,1,2,meal plan 1,0,roomtype 1,207,2018,12,30,offline,0,0,0,161.67,0,notcanceled

In [45]:
df1['type_of_meal_plan'] = df1['type_of_meal_plan'].str.strip()
df1['room_type_reserved'] = df1['room_type_reserved'].str.strip()
df1['market_segment_type'] = df1['market_segment_type'].str.strip()
df1['booking_status'] = df1['booking_status'].str.strip()

In [46]:
df1['type_of_meal_plan'] = df1['type_of_meal_plan'].str.lower()
df1['room_type_reserved'] = df1['room_type_reserved'].str.lower()
df1['market_segment_type'] = df1['market_segment_type'].str.lower()
df1['booking_status'] = df1['booking_status'].str.lower()

In [47]:
df1

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,inn00001,2,0,1,2,meal plan 1,0,roomtype 1,224,2017,10,2,offline,0,0,0,65.00,0,notcanceled
1,inn00002,2,0,2,3,not selected,0,roomtype 1,5,2018,11,6,online,0,0,0,106.68,1,notcanceled
2,inn00003,1,0,2,1,meal plan 1,0,roomtype 1,1,2018,2,28,online,0,0,0,60.00,0,canceled
3,inn00004,2,0,0,2,meal plan 1,0,roomtype 1,211,2018,5,20,online,0,0,0,100.00,0,canceled
4,inn00005,2,0,1,1,not selected,0,roomtype 1,48,2018,4,11,online,0,0,0,94.50,0,canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,inn36271,3,0,2,6,meal plan 1,0,roomtype 4,85,2018,8,3,online,0,0,0,167.80,1,notcanceled
36271,inn36272,2,0,1,3,meal plan 1,0,roomtype 1,228,2018,10,17,online,0,0,0,90.95,2,canceled
36272,inn36273,2,0,2,6,meal plan 1,0,roomtype 1,148,2018,7,1,online,0,0,0,98.39,2,notcanceled
36273,inn36274,2,0,0,3,not selected,0,roomtype 1,63,2018,4,21,online,0,0,0,94.50,0,canceled
36274,inn36275,2,0,1,2,meal plan 1,0,roomtype 1,207,2018,12,30,offline,0,0,0,161.67,0,notcanceled

In [48]:
meal_seg_mapping = {
    'offline': 0,
    'online': 1,
    'corporate': 2,
    'complementary': 3,
    'aviation': 4
}

# Use the mapping to replace values in the 'type_of_meal_plan' column
df1['market_segment_type'] = df1['market_segment_type'].map(meal_seg_mapping)

In [49]:
meal_plan_mapping = {
    'not selected': 0,
    'meal plan 1': 1,
    'meal plan 2': 2,
    'meal plan 3': 3
}

# Use the mapping to replace values in the 'type_of_meal_plan' column
df1['type_of_meal_plan'] = df1['type_of_meal_plan'].map(meal_plan_mapping)

In [50]:
df1.replace(["notcanceled", "canceled"], [0, 1], inplace=True)

In [51]:
room_type_mapping = {
    "roomtype 1" : 0,
    "roomtype 2" : 1,
    "roomtype 3" : 2,
    "roomtype 4" : 3, 
    "roomtype 5" : 4,
    "roomtype 6" : 5,
    "roomtype 7" : 6}

df1['room_type_reserved'] = df1['room_type_reserved'].map(room_type_mapping)

In [52]:
df1

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,inn00001,2,0,1,2,1,0,0,224,2017,10,2,0,0,0,0,65.00,0,0
1,inn00002,2,0,2,3,0,0,0,5,2018,11,6,1,0,0,0,106.68,1,0
2,inn00003,1,0,2,1,1,0,0,1,2018,2,28,1,0,0,0,60.00,0,1
3,inn00004,2,0,0,2,1,0,0,211,2018,5,20,1,0,0,0,100.00,0,1
4,inn00005,2,0,1,1,0,0,0,48,2018,4,11,1,0,0,0,94.50,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,inn36271,3,0,2,6,1,0,3,85,2018,8,3,1,0,0,0,167.80,1,0
36271,inn36272,2,0,1,3,1,0,0,228,2018,10,17,1,0,0,0,90.95,2,1
36272,inn36273,2,0,2,6,1,0,0,148,2018,7,1,1,0,0,0,98.39,2,0
36273,inn36274,2,0,0,3,0,0,0,63,2018,4,21,1,0,0,0,94.50,0,1
36274,inn36275,2,0,1,2,1,0,0,207,2018,12,30,0,0,0,0,161.67,0,0

In [53]:
df1.drop('Booking_ID', axis = 1, inplace = True)

In [54]:
df1

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,1,0,0,224,2017,10,2,0,0,0,0,65.00,0,0
1,2,0,2,3,0,0,0,5,2018,11,6,1,0,0,0,106.68,1,0
2,1,0,2,1,1,0,0,1,2018,2,28,1,0,0,0,60.00,0,1
3,2,0,0,2,1,0,0,211,2018,5,20,1,0,0,0,100.00,0,1
4,2,0,1,1,0,0,0,48,2018,4,11,1,0,0,0,94.50,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,1,0,3,85,2018,8,3,1,0,0,0,167.80,1,0
36271,2,0,1,3,1,0,0,228,2018,10,17,1,0,0,0,90.95,2,1
36272,2,0,2,6,1,0,0,148,2018,7,1,1,0,0,0,98.39,2,0
36273,2,0,0,3,0,0,0,63,2018,4,21,1,0,0,0,94.50,0,1
36274,2,0,1,2,1,0,0,207,2018,12,30,0,0,0,0,161.67,0,0

In [57]:
from sklearn.model_selection import train_test_split

X = df1.drop('booking_status', axis=1)   # Features
y = df1['booking_status']   # target variable

In [58]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)
X

array([[ 0.29889263, -0.26147045,  0.2174012 , ..., -0.08745646,
        -1.09503276, -0.78813999],
       [ 0.29889263, -0.26147045,  1.36599262, ..., -0.08745646,
         0.09280591,  0.48376045],
       [-1.62897546, -0.26147045,  1.36599262, ..., -0.08745646,
        -1.2375278 , -0.78813999],
       ...,
       [ 0.29889263, -0.26147045,  1.36599262, ..., -0.08745646,
        -0.14345087,  1.75566089],
       [ 0.29889263, -0.26147045, -0.93119021, ..., -0.08745646,
        -0.25431201, -0.78813999],
       [ 0.29889263, -0.26147045,  0.2174012 , ..., -0.08745646,
         1.65996637, -0.78813999]])

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
X_train

array([[ 0.29889263,  2.22212223,  1.36599262, ..., -0.08745646,
         1.64087203, -0.78813999],
       [ 0.29889263,  2.22212223,  0.2174012 , ..., -0.08745646,
         0.51516121,  1.75566089],
       [ 0.29889263, -0.26147045, -0.93119021, ..., -0.08745646,
        -0.95253771, -0.78813999],
       ...,
       [ 0.29889263, -0.26147045, -0.93119021, ..., -0.08745646,
         0.18742261,  0.48376045],
       [ 0.29889263, -0.26147045, -0.93119021, ..., -0.08745646,
         0.75740278, -0.78813999],
       [ 0.29889263, -0.26147045, -0.93119021, ..., -0.08745646,
         1.81756588, -0.78813999]])

In [61]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.18      0.30      4839
           1       0.37      0.98      0.54      2416

    accuracy                           0.44      7255
   macro avg       0.66      0.58      0.42      7255
weighted avg       0.75      0.44      0.38      7255

In [63]:
from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB(force_alpha=True)
y_pred = clf.fit(X_train, y_train).predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.88      0.83      4839
           1       0.68      0.52      0.59      2416

    accuracy                           0.76      7255
   macro avg       0.73      0.70      0.71      7255
weighted avg       0.75      0.76      0.75      7255

In [64]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
y_pred = neigh.fit(X_train, y_train).predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.90      0.89      4839
           1       0.79      0.75      0.77      2416

    accuracy                           0.85      7255
   macro avg       0.83      0.83      0.83      7255
weighted avg       0.85      0.85      0.85      7255

In [65]:
from sklearn import svm
clf = svm.SVC()
y_pred = clf.fit(X_train, y_train).predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.92      0.89      4839
           1       0.81      0.68      0.74      2416

    accuracy                           0.84      7255
   macro avg       0.83      0.80      0.81      7255
weighted avg       0.84      0.84      0.84      7255

In [67]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.fit(X_train, y_train).predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.90      0.86      4839
           1       0.74      0.60      0.66      2416

    accuracy                           0.80      7255
   macro avg       0.78      0.75      0.76      7255
weighted avg       0.79      0.80      0.79      7255

In [68]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
y_pred = clf.fit(X_train, y_train).predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.90      0.90      4839
           1       0.81      0.81      0.81      2416

    accuracy                           0.87      7255
   macro avg       0.86      0.86      0.86      7255
weighted avg       0.87      0.87      0.87      7255

In [69]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2, random_state=0)
y_pred = clf.fit(X_train, y_train).predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.76      0.98      0.85      4839
           1       0.89      0.38      0.53      2416

    accuracy                           0.78      7255
   macro avg       0.83      0.68      0.69      7255
weighted avg       0.80      0.78      0.75      7255